html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  // outline: 1px solid black;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--primary-letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cards-gap));

  @media screen and (min-width: 768px) {
    margin-left: calc(-1 * var(--cards-gap));
  }
}

.card-set__item {
  margin-top: var(--cards-gap);

  @media screen and (min-width: 768px) {
    margin-left: var(--cards-gap);
  }
}
.container {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__item {
  flex-basis: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}
.features__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-bg-color);
  border-radius: 4px;
}
.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: var(--primary-title-color);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
