.footer__thumb {
  width: 100%;
  height: 600px;
  background-color: aquamarine;
}

.footer__text {
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: brown;
}
